.carrousel{
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;

  .carrousel-track-container{
    background-color: teal;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .carrousel-track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 150ms ease-in-out;
    
    & > li {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    &  img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carrousel-button{
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    background: transparent;
    border: none;
    cursor: pointer;

    & > img{
      width: 50px;
      pointer-events: none;
    }

  }

  .left-button{
    left: -65px;
  }

  .right-button{
    right: -65px;

    & > img{
      transform: rotate(180deg);
    }
  }

  .carrousel-nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;

    .carrousel-indicator{
      border: 0;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: rgba(0, 0, 0, 0.3);

      cursor: pointer;
    }

    .active{
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
